<nav class="navbar navbar-expand-lg navbar-light bg-primary" *ngIf="currentUser">
  <a class="navbar-brand" href="#">
    Clinic
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'SECRETARY' "  class="nav-link" routerLink="/secretary-register">Rejestracja pacjenta</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'SECRETARY' "  class="nav-link" routerLink="/visit-secretary">Umów pacjeta na wizytę</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'PATIENT' "  class="nav-link" routerLink="/clinic-register">Rejestracja</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'PATIENT' "  class="nav-link" routerLink="/opinion">Opinie o lekarzach</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'DOCTOR' "  class="nav-link" routerLink="/doctor-history">Historia chorób pacjentów</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'PATIENT' "  class="nav-link" routerLink="/own-history">Moje choroby</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'DOCTOR' "  class="nav-link" routerLink="/disease">Choroby</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'PATIENT' "  class="nav-link" routerLink="/medical-benefits">Pakiety medyczne</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'DOCTOR' "  class="nav-link" routerLink="/medicine">Leki</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.userType == 'PATIENT'  "  class="nav-link" routerLink="/visit">Wizyty</a>
      </li>
    </ul>
    <div>
      <span class="loggedAs">Zalogowany jako: {{currentUser.username.username}} ({{currentUser.userType}}) </span>
      <button class="btn btn-primary" type="submit" (click)="logout()">Wyloguj</button>
    </div>

  </div>
</nav>
<div class="container-fluid">
  <div class="flex-row">
    <router-outlet></router-outlet>
  </div>
</div>
