<!--<a  class="btn btn-primary" routerLink="/visit-secretary-spec">Wyszukaj po specjalizacji</a>-->
<p></p>
<div class="form">
  <form class="search-form" [formGroup]="formGroup" (validSubmit)="getPatient()">
    <div class="form-group" >
      <!--<label for="peselStr">Pacjent</label>-->
      <!--<input type="text" formControlName="peselStr" class="form-control" placeholder="PESEL"/>-->
      <label class="control-label">Pacjent</label>
      <ng-select [items]="patientsArray"
                 bindLabel="pesel.pesel"
                 bindValue="pesel.pesel"
                 placeholder="Pacjent"
                 [(ngModel)]="selectedPatient"
                 formControlName="peselStr">
      </ng-select>


      <button type="click" class="btn btn-primary">Pobierz info o pacjencie</button>
      <div class="t-Region-headerItems--button">
      </div>
    </div>
  </form>

  <div class="report-container">
    <div *ngIf="patient">
      <div class="t-Region">
        <div class="t-Region-header">
          <div class="t-Region-headerItems--title">
            Pacjent
          </div>

        </div>
        <div class=t-Region-body>

          <div  class="report-container-inner">
            <div class="table-responsive">
              <table id="patientsTable" class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">Imię i nazwisko</th>
                  <th scope="col">PESEL</th>
                  <th scope="col">Data urodzenia</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                  <td>{{patient.name.firstName}} {{patient.name.surname}}</td>
                  <td>{{patient.pesel.pesel}}</td>
                  <td>{{patient.birthDate}}</td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div *ngIf="patient">
  <form class="search-form" [formGroup]="formGroupDoctor" (validSubmit)="getDoctorAvabilitiesSec()">
    <div class="form-group" >
      <label for="name">Lekarz</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Lekarz"/>
      <button type="click" class="btn btn-primary">Pobierz dostępności lekarzy</button>
      <div class="t-Region-headerItems--button">
      </div>
    </div>
  </form>
 </div>
  <div class="report-container">
    <div *ngIf="avability">
      <div class="t-Region">
        <div class="t-Region-header">
          <div class="t-Region-headerItems--title">
            Kalendarz dostępności
          </div>

        </div>
        <div class=t-Region-body>

          <div  class="report-container-inner">
            <div class="table-responsive">
              <table id="readersTable" class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">Rezerwacja</th>
                  <th scope="col">Doktor</th>
                  <th scope="col">Specjalizacja</th>
                  <th scope="col">Wolny termin</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let avability of avability" >
                  <a href="javascript: void(0)"
                     (click)="callReservationSecretary(patient.id,avability.doctorId, avability.visitStart)"
                     title="Rezerwuj">
                    Rezerwuj wizytę
                  </a>
                  <td>{{avability.doctorFirstName}} {{avability.doctorSurname}}</td>
                  <td>{{avability.specialization}}</td>
                  <td>{{avability.visitStart}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
