<div class="form">
  <form class="search-form">
    <div class="form-group">

      <div class="t-Region-headerItems--button">
        <button type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#createPatient">
          <fa name="plus"></fa> Dodaj
        </button>
      </div>
    </div>
  </form>


<div class="modal fade" id="createPatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Zarejestruj</h5>
        <button type="button" sclass="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="formGroupModal" (validSubmit)="createPatient()" >



              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Imię</label>
                <input type="text" class="form-control" formControlName="firstName">
              </div>

              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Nazwisko</label>
                <input type="text" class="form-control" formControlName="surname">
              </div>
              <div class="form-group">
                <label class="control-label">Drugie imię</label>
                <input type="text" class="form-control" formControlName="secondName">
              </div>

              <!--<div class="form-group" [customErrorMessages]="customErrorMessages">-->
                <!--<label class="control-label">Płeć</label>-->
                <!--<input type="text" class="form-control" formControlName="gender">-->
              <!--</div>-->
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <ng-select [items]="gender"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="Płeć"
                           [(ngModel)]="selectedGenderId"
                           formControlName="gender">
                </ng-select>
              </div>


              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Data urodzenia</label>
                <input type="date" class="form-control" placeholder="yyyy-mm-dd" formControlName="birthDateStr">
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">PESEL</label>
                <input type="text" class="form-control" formControlName="peselStr">
              </div>

              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Ulica</label>
                <input type="text" class="form-control" formControlName="street">
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Kod pocztowy</label>
                <input type="text" class="form-control" formControlName="zipCodeStr">
              </div>

              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Miasto</label>
                <input type="text" class="form-control" formControlName="city">
              </div>
              <!--<div class="form-group" [customErrorMessages]="customErrorMessages">-->
                <!--<label class="control-label">Województwo</label>-->
                <!--<input type="text" class="form-control" formControlName="provinceStr">-->
              <!--</div>-->
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <ng-select [items]="province"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="Województwo"
                           [(ngModel)]="selectedProvinceId"
                           formControlName="provinceStr">
                </ng-select>
              </div>

              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Nr. telefonu</label>
                <input type="text" class="form-control" formControlName="phoneNumberStr">
              </div>



              <div class="modal-footer">
                <button type="button" class="btn btn-secondary left" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-primary right" >
                  <fa name="save"></fa> Zapisz
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

